body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    /* Couleur de fond */
}

header {
    background-color: #333;
    padding: 20px;
    text-align: right;
}

.connexion-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-top: 40px;
    /* Espace supplémentaire au-dessus du titre */
}

.boutons-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    /* Espace supplémentaire au-dessus des boutons */
}

.bouton {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    /* Animation de transition */
}

.bouton:hover {
    background-color: #45a049;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

thead,
tfoot {
    background-color: rgb(228 240 245);
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

td:last-of-type {
    text-align: center;
}

tbody>tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}

tfoot th {
    text-align: right;
}

tfoot td {
    font-weight: bold;
}